@use "./utilities/reset";
@use "./utilities/mixins" as mixins;

:root {
	--desaturated-red: hsl(0, 36%, 70%);
	--soft-red: #f96262;
	--dark-grayish-red: #413a3a;
	--linear-one: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
	--linear-two: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

body {
	display: grid;
	min-height: 100vh;
	font-family: "Josefin Sans", sans-serif;
	color: var(--desaturated-red);
	font-size: 16px;
	background: var(--linear-one);
}
.logo-mobile {
	padding: 2em;

	&-title {
		display: block;
		width: 40%;
	}
}

.logo-desktop {
	display: none;
}

.header {
	&__img {
		&-mobile {
			display: block;
			width: 100%;
		}

		&-desktop {
			display: none;
		}
	}
}

.main {
	padding: 3em 2em;
	text-align: center;

	&__title {
		margin-bottom: 0.5em;
		font-size: 4.5rem;
		font-weight: 600;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: var(--dark-grayish-red);
		line-height: 1;
		span {
			font-weight: 200;
			color: var(--desaturated-red);
		}
	}

	&__text {
		margin-bottom: 2.5em;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 1.5;
	}

	&__input-wrapper {
		position: relative;
		&-box {
			width: 100%;
			padding: 1.1em;
			border-radius: 3em;
			border: 1px solid var(--desaturated-red);
			color: var(--dark-grayish-red);
			z-index: 1;

			&:focus {
				outline: none;
				border: 1px solid var(--dark-grayish-red);
			}
		}

		&-icon {
			position: absolute;
			right: -2.2em;
			top: 50%;
			transform: translate(-50%, -50%);
			padding: 0.9em 1.6em;
			width: fit-content;
			height: min-content;
			border-radius: 3.5em;
			font-weight: 200;
			background: var(--linear-two);
			color: white;
			z-index: 100;

			&-error {
				display: none;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 4em;
			}
		}

		&-text {
			display: none;
			position: absolute;
			left: 2.5em;
			top: 5em;
			font-size: 1.1rem;
			color: var(--soft-red);
		}
	}
}

@media (min-width: 1200px) {
	body {
		grid-template-columns: 1fr 0.8fr;
		grid-template-rows: 1fr;
		background: url("../img/bg-pattern-desktop.svg");
		background-size: cover;
		background-position: center;
	}

	.logo-mobile {
		display: none;
	}

	.logo-desktop,
	.main {
		padding: 2em 8em;
	}

	.logo-desktop {
		display: block;
		padding-left: 0;
		align-self: flex-start;
		margin-bottom: 3em;

		&__title {
			width: 100%;
		}
	}

	.header {
		grid-area: 1/2/-1 /-1;

		&__img {
			&-mobile {
				display: none;
			}

			&-desktop {
				display: block;
				width: 100%;
				height: 100vh;
			}
		}
	}

	.main {
		justify-self: center;
		align-self: center;
		grid-area: 1/1/4/1;
		text-align: left;

		.card {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 26em;
		}

		&__title {
			font-size: 5.7rem;
			letter-spacing: 0.3em;
			line-height: 1.1;
		}

		&__text {
			font-size: 1.5rem;
			line-height: 1.7;
		}

		&__input-wrapper {
			width: 100%;

			&-box {
				background: transparent;
			}
			&-icon {
				right: -3.1em;
				padding: 0.9em 2.6em;
				transition: box-shadow 0.2s;

				&:hover {
					background: rgb(255, 255, 255);
					background: linear-gradient(35deg, rgba(255, 255, 255, 1) 0%, rgba(255, 225, 225, 1) 15%);
					-webkit-box-shadow: -5px 18px 23px -4px rgba(214, 215, 219, 1);
					-moz-box-shadow: -5px 18px 23px -4px rgba(214, 215, 219, 1);
					box-shadow: -5px 18px 23px -4px rgba(214, 215, 219, 1);
				}
				&-error {
					right: 6.5em;
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	body {
		grid-template-columns: 1fr 38em;
	}
}
